body {
	background-color: lightgreen; 
	font-size: 14px;
}
h1 {
	text-align: center;
	font-size: 1.75em;
}
a {
	display: block;
	height: 60px;

	

}

#real-alert {
	background-color: white;
	color:red;
	font-size: 4rem;
	text-align:center;
	border: 5px solid #ff0000;
}

#test-only {
	color: blue;
	background-color: lavender;
	font-size: 2.25rem;
	text-align: center;
	padding-right: 12px;
	border: 5px dashed green;
}
